@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');


texto1 {
    font-family: 'Montserrat', sans-serif;
}

.texto2 {
    font-family: 'Montserrat', sans-serif;

}
.bgimg1{
    background-image: url(https://www.insideedition.com/sites/default/files/styles/931x523/public/images/2019-09/092119-underwater-1280x720.jpg?h=c673cd1c&itok=r7vzIcLk);
    max-width: 1280;
    min-height: 720px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}