<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://media-exp1.licdn.com/dms/image/C4D03AQFoB5MxOZoQ-A/profile-displayphoto-shrink_400_400/0?e=1606953600&v=beta&t=hT8gRR_FgSy0BLDbLBRgqj6OoG_MNo-gQsrXu68pSkM" alt="Imagem de capa do card">
    </div>
  
    <div class="card-body texto2">
      <h5 class="card-title text-center">{{nome}}</h5>
      <p class="card-text text-center">Programador e Arquiteto.</p>
      
     
        <a href="https://www.linkedin.com/in/casarotif/" class="btn btn-outline-info mb-3 d-flex justify-content-center texto2" target="_blank">LinkedIn</a>

        <a href="https://github.com/casarotif" class="btn btn-outline-dark d-flex justify-content-center texto2" target="_blank">GitHub</a>
    
    </div>
  </div>